
.display-4 {
  font-size: 3rem;
  font-weight: bold;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 10px; /* ปรับขนาดมุมโค้งได้ตามต้องการ */
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

p {
  font-size: 1.1rem;
}

footer {
  background-color: #002b4e;
}
.dark {
  background-color: #002b4e;
}
footer a {
  color: rgba(255, 255, 255, 0.8);
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}
.text-footer {
  color: white !important;
}
