.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  width: 1920px;
  height: 6500px;
  position: relative;
}

.home .element-footer-desktop {
  position: absolute;
  width: 1920px;
  height: 530px;
  top: 5970px;
  left: 0;
  background-color: var(--secondary);
}

.home .copyright {
  position: absolute;
  width: 1116px;
  height: 58px;
  top: 442px;
  left: 405px;
}

.home .text-wrapper {
  position: absolute;
  top: 34px;
  left: 1035px;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  color: var(--helper-blue2);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-3-regular-font-style);
}

.home .text-wrapper-2 {
  position: absolute;
  top: 34px;
  left: 855px;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  color: var(--helper-blue2);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-3-regular-font-style);
}

.home .all-right-reserved {
  position: absolute;
  top: 34px;
  left: 0;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  color: var(--helper-blue2);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-3-regular-font-style);
}

.home .line-separator {
  position: absolute;
  width: 1110px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home .links {
  position: absolute;
  width: 613px;
  height: 331px;
  top: 61px;
  left: 880px;
}

.home .cantact-info {
  position: absolute;
  width: 235px;
  height: 175px;
  top: 0;
  left: 380px;
}

.home .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 55px;
  left: 0;
}

.home .email {
  color: var(--grey);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  white-space: nowrap;
  font-style: var(--paragraph-3-regular-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.home .phone {
  color: var(--grey);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  position: relative;
  width: fit-content;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  white-space: nowrap;
  font-style: var(--paragraph-3-regular-font-style);
}

.home .address {
  width: 233px;
  color: var(--grey);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  position: relative;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  font-style: var(--paragraph-3-regular-font-style);
}

.home .title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--headline-6-bold-font-family);
  font-weight: var(--headline-6-bold-font-weight);
  color: #ffffff;
  font-size: var(--headline-6-bold-font-size);
  letter-spacing: var(--headline-6-bold-letter-spacing);
  line-height: var(--headline-6-bold-line-height);
  white-space: nowrap;
  font-style: var(--headline-6-bold-font-style);
}

.home .service {
  position: absolute;
  width: 61px;
  height: 223px;
  top: 0;
  left: 190px;
}

.home .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  color: var(--grey);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-3-regular-font-style);
}

.home .quick-link {
  position: absolute;
  width: 75px;
  height: 331px;
  top: 0;
  left: 0;
}

.home .logo-description {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 50px;
  left: 405px;
}

.home .logo {
  width: 141px;
  height: 46px;
  position: relative;
  object-fit: cover;
}

.home .description {
  position: relative;
  width: 285px;
  font-family: var(--paragraph-3-regular-font-family);
  font-weight: var(--paragraph-3-regular-font-weight);
  color: var(--grey);
  font-size: var(--paragraph-3-regular-font-size);
  letter-spacing: var(--paragraph-3-regular-letter-spacing);
  line-height: var(--paragraph-3-regular-line-height);
  font-style: var(--paragraph-3-regular-font-style);
}

.home .icons-social-links {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.home .img {
  position: relative;
  width: 25px;
  height: 25px;
}

.home .element-subscribe {
  position: absolute;
  width: 1920px;
  height: 306px;
  top: 5664px;
  left: 0;
  background-color: var(--secondary);
}

.home .line {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 305px;
  left: 0;
  object-fit: cover;
}

.home .text-field {
  position: absolute;
  width: 445px;
  height: 54px;
  top: 126px;
  left: 1070px;
  background-color: var(--helper-blue3);
  border-radius: 6px;
}

.home .button {
  all: unset;
  box-sizing: border-box;
  width: 125px;
  height: 54px;
  gap: 12px;
  padding: 11px 46px;
  position: absolute;
  top: 0;
  left: 320px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.home .watch-the-demo {
  width: 85px;
  height: 24px;
  margin-left: -26.00px;
  margin-right: -26.00px;
  font-family: var(--headline-6-bold-font-family);
  font-weight: var(--headline-6-bold-font-weight);
  color: var(--black);
  font-size: var(--headline-6-bold-font-size);
  text-align: center;
  letter-spacing: var(--headline-6-bold-letter-spacing);
  line-height: var(--headline-6-bold-line-height);
  position: relative;
  white-space: nowrap;
  font-style: var(--headline-6-bold-font-style);
}

.home .imput {
  display: flex;
  width: 80px;
  position: absolute;
  top: 15px;
  left: 25px;
  align-items: center;
  gap: 2px;
}

.home .imput-2 {
  display: flex;
  width: 71px;
  position: relative;
  align-items: center;
  gap: 2px;
}

.home .input-text {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--paragraph-3-semibold-font-family);
  font-weight: var(--paragraph-3-semibold-font-weight);
  color: var(--black);
  font-size: var(--paragraph-3-semibold-font-size);
  letter-spacing: var(--paragraph-3-semibold-letter-spacing);
  line-height: var(--paragraph-3-semibold-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-3-semibold-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.home .title-description {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 80px;
  left: 405px;
}

.home .h-title {
  width: 511px;
  color: #ffffff;
  position: relative;
  margin-top: -1.00px;
  font-family: var(--headline-2-extrabold-font-family);
  font-weight: var(--headline-2-extrabold-font-weight);
  font-size: var(--headline-2-extrabold-font-size);
  letter-spacing: var(--headline-2-extrabold-letter-spacing);
  line-height: var(--headline-2-extrabold-line-height);
  font-style: var(--headline-2-extrabold-font-style);
}

.home .p {
  position: relative;
  width: 540px;
  font-family: var(--paragraph-1-regular-font-family);
  font-weight: var(--paragraph-1-regular-font-weight);
  color: #ffffff;
  font-size: var(--paragraph-1-regular-font-size);
  letter-spacing: var(--paragraph-1-regular-letter-spacing);
  line-height: var(--paragraph-1-regular-line-height);
  font-style: var(--paragraph-1-regular-font-style);
}

.home .element-contacts-us {
  position: absolute;
  width: 1920px;
  height: 573px;
  top: 5091px;
  left: 0;
  background-color: var(--background);
}

.home .contact-form {
  position: absolute;
  width: 540px;
  height: 326px;
  top: 127px;
  left: 975px;
}

.home .watch-the-demo-wrapper {
  all: unset;
  box-sizing: border-box;
  width: 137px;
  height: 44px;
  gap: 10px;
  padding: 10px 14px;
  position: absolute;
  top: 282px;
  left: 403px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.home .text-wrapper-4 {
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--headline-7-semibold-font-family);
  font-weight: var(--headline-7-semibold-font-weight);
  color: #ffffff;
  font-size: var(--headline-7-semibold-font-size);
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  line-height: var(--headline-7-semibold-line-height);
  position: relative;
  white-space: nowrap;
  font-style: var(--headline-7-semibold-font-style);
}

.home .element-field-message {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 59px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 188px;
  left: 0;
}

.home .title-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--headline-8-semibold-font-family);
  font-weight: var(--headline-8-semibold-font-weight);
  color: var(--grey);
  font-size: var(--headline-8-semibold-font-size);
  letter-spacing: var(--headline-8-semibold-letter-spacing);
  line-height: var(--headline-8-semibold-line-height);
  white-space: nowrap;
  font-style: var(--headline-8-semibold-font-style);
}

.home .imput-3 {
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
  align-items: center;
  gap: 2px;
}

.home .img-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.home .element-field-theme {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 59px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 94px;
  left: 0;
}

.home .input-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--paragraph-3-semibold-font-family);
  font-weight: var(--paragraph-3-semibold-font-weight);
  color: var(--black);
  font-size: var(--paragraph-3-semibold-font-size);
  letter-spacing: var(--paragraph-3-semibold-letter-spacing);
  line-height: var(--paragraph-3-semibold-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-3-semibold-font-style);
}

.home .element-field-email {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 59px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 285px;
}

.home .text-field-2 {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 59px;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.home .contacts {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 337px;
  left: 405px;
}

.home .div-3 {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.home .img-3 {
  position: relative;
  width: 20px;
  height: 20px;
}

.home .input {
  color: var(--black);
  font-size: var(--paragraph-2-regular-font-size);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--paragraph-2-regular-font-family);
  font-weight: var(--paragraph-2-regular-font-weight);
  white-space: nowrap;
  font-style: var(--paragraph-2-regular-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.home .text-wrapper-5 {
  margin-top: -1.00px;
  color: var(--black);
  font-size: var(--paragraph-2-regular-font-size);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  position: relative;
  width: fit-content;
  font-family: var(--paragraph-2-regular-font-family);
  font-weight: var(--paragraph-2-regular-font-weight);
  white-space: nowrap;
  font-style: var(--paragraph-2-regular-font-style);
}

.home .title-description-2 {
  gap: 35px;
  position: absolute;
  top: 120px;
  left: 405px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.home .title-line {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--headline-2-extrabold-font-family);
  font-weight: var(--headline-2-extrabold-font-weight);
  color: var(--black);
  font-size: var(--headline-2-extrabold-font-size);
  letter-spacing: var(--headline-2-extrabold-letter-spacing);
  line-height: var(--headline-2-extrabold-line-height);
  white-space: nowrap;
  font-style: var(--headline-2-extrabold-font-style);
}

.home .line-2 {
  position: relative;
  width: 95px;
  height: 4px;
}

.home .description-2 {
  position: relative;
  width: 445px;
  font-family: var(--paragraph-1-regular-font-family);
  font-weight: var(--paragraph-1-regular-font-weight);
  color: var(--grey);
  font-size: var(--paragraph-1-regular-font-size);
  letter-spacing: var(--paragraph-1-regular-letter-spacing);
  line-height: var(--paragraph-1-regular-line-height);
  font-style: var(--paragraph-1-regular-font-style);
}

.home .element-clients-logos {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4959px;
  left: 405px;
}

.home .logo-2 {
  width: 185px;
  height: 132px;
  position: relative;
  object-fit: cover;
}

.home .element-blog-section {
  position: absolute;
  width: 1110px;
  height: 479px;
  top: 4360px;
  left: 405px;
}

.home .div-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 121px;
  left: 0;
}

.home .blog-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.home .img-4 {
  position: relative;
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.home .text {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.home .title-3 {
  position: relative;
  width: 350px;
  font-family: var(--headline-4-bold-font-family);
  font-weight: var(--headline-4-bold-font-weight);
  color: var(--black);
  font-size: var(--headline-4-bold-font-size);
  letter-spacing: var(--headline-4-bold-letter-spacing);
  line-height: var(--headline-4-bold-line-height);
  font-style: var(--headline-4-bold-font-style);
}

.home .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--headline-7-semibold-font-family);
  font-weight: var(--headline-7-semibold-font-weight);
  color: var(--primary);
  font-size: var(--headline-7-semibold-font-size);
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  line-height: var(--headline-7-semibold-line-height);
  white-space: nowrap;
  font-style: var(--headline-7-semibold-font-style);
}

.home .div-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

.home .element-pricing-section {
  position: absolute;
  width: 1110px;
  height: 679px;
  top: 3561px;
  left: 405px;
}

.home .div-6 {
  display: inline-flex;
  flex-direction: column;
  height: 558px;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 35px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: var(--shadow-card-3);
}

.home .title-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .title-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--headline-4-bold-font-family);
  font-weight: var(--headline-4-bold-font-weight);
  color: var(--black);
  font-size: var(--headline-4-bold-font-size);
  letter-spacing: var(--headline-4-bold-letter-spacing);
  line-height: var(--headline-4-bold-line-height);
  font-style: var(--headline-4-bold-font-style);
}

.home .price-description {
  display: flex;
  align-items: baseline;
  gap: 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .description-3 {
  position: relative;
  align-self: stretch;
  font-family: var(--headline-4-bold-font-family);
  font-weight: var(--headline-4-bold-font-weight);
  color: var(--black);
  font-size: var(--headline-4-bold-font-size);
  letter-spacing: var(--headline-4-bold-letter-spacing);
  line-height: var(--headline-4-bold-line-height);
  font-style: var(--headline-4-bold-font-style);
}

.home .button-2 {
  all: unset;
  box-sizing: border-box;
  width: 280px;
  gap: 10px;
  padding: 10px 14px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border: 1px solid;
  border-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.home .services {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.home .element-service {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}

.home .description-4 {
  position: relative;
  width: 226px;
  margin-top: -1.00px;
  font-family: var(--paragraph-2-regular-font-family);
  font-weight: var(--paragraph-2-regular-font-weight);
  color: var(--black);
  font-size: var(--paragraph-2-regular-font-size);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  font-style: var(--paragraph-2-regular-font-style);
}

.home .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: var(--paragraph-1-regular-font-family);
  font-weight: var(--paragraph-1-regular-font-weight);
  color: var(--black);
  font-size: var(--paragraph-1-regular-font-size);
  letter-spacing: var(--paragraph-1-regular-letter-spacing);
  line-height: var(--paragraph-1-regular-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-1-regular-font-style);
}

.home .button-3 {
  all: unset;
  box-sizing: border-box;
  width: 280px;
  gap: 10px;
  padding: 10px 14px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.home .month-year-switch {
  position: absolute;
  width: 255px;
  height: 50px;
  top: 21px;
  left: 855px;
  background-color: var(--tertiary);
  border-radius: 20px;
}

.home .tab {
  left: 128px;
  background-color: var(--tertiary);
  display: flex;
  width: 125px;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 35px;
  position: absolute;
  top: 2px;
  border-radius: 20px;
}

.home .monthly {
  font-family: var(--headline-7-medium-font-family);
  font-weight: var(--headline-7-medium-font-weight);
  color: var(--black);
  position: relative;
  width: fit-content;
  margin-top: -6.00px;
  margin-bottom: -4.00px;
  font-size: var(--headline-7-medium-font-size);
  text-align: center;
  letter-spacing: var(--headline-7-medium-letter-spacing);
  line-height: var(--headline-7-medium-line-height);
  white-space: nowrap;
  font-style: var(--headline-7-medium-font-style);
}

.home .tab-2 {
  left: 2px;
  background-color: var(--primary);
  display: flex;
  width: 125px;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 35px;
  position: absolute;
  top: 2px;
  border-radius: 20px;
}

.home .text-wrapper-9 {
  font-family: var(--headline-7-semibold-font-family);
  font-weight: var(--headline-7-semibold-font-weight);
  color: #ffffff;
  position: relative;
  width: fit-content;
  margin-top: -6.00px;
  margin-bottom: -4.00px;
  font-size: var(--headline-7-semibold-font-size);
  text-align: center;
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  line-height: var(--headline-7-semibold-line-height);
  white-space: nowrap;
  font-style: var(--headline-7-semibold-font-style);
}

.home .element-reviews-section {
  position: absolute;
  width: 1919px;
  height: 648px;
  top: 2793px;
  left: 1px;
  background-color: var(--tertiary);
}

.home .reviews-cards {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 241px;
  left: 404px;
}

.home .reviews-card {
  display: flex;
  flex-direction: column;
  width: 540px;
  align-items: flex-start;
  gap: 25px;
  padding: 35px;
  position: relative;
  background-color: #ffffff;
  box-shadow: var(--shadow-card-2);
}

.home .img-name {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.home .element-img-person {
  position: relative;
  width: 80px;
  height: 80px;
}

.home .name {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.home .name-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--headline-6-bold-font-family);
  font-weight: var(--headline-6-bold-font-weight);
  color: var(--black);
  font-size: var(--headline-6-bold-font-size);
  letter-spacing: var(--headline-6-bold-letter-spacing);
  line-height: var(--headline-6-bold-line-height);
  white-space: nowrap;
  font-style: var(--headline-6-bold-font-style);
}

.home .text-wrapper-10 {
  position: relative;
  width: fit-content;
  font-family: var(--headline-7-medium-font-family);
  font-weight: var(--headline-7-medium-font-weight);
  color: var(--grey);
  font-size: var(--headline-7-medium-font-size);
  letter-spacing: var(--headline-7-medium-letter-spacing);
  line-height: var(--headline-7-medium-line-height);
  white-space: nowrap;
  font-style: var(--headline-7-medium-font-style);
}

.home .description-5 {
  position: relative;
  align-self: stretch;
  font-family: var(--paragraph-2-regular-font-family);
  font-weight: var(--paragraph-2-regular-font-weight);
  color: var(--grey);
  font-size: var(--paragraph-2-regular-font-size);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  font-style: var(--paragraph-2-regular-font-style);
}

.home .element-img-person-2 {
  object-fit: cover;
  position: relative;
  width: 80px;
  height: 80px;
}

.home .controls-direction {
  display: inline-flex;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 131px;
  left: 1279px;
}

.home .div-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 40px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--helper-blue3);
  border-radius: 20px;
}

.home .img-5 {
  position: relative;
  width: 30px;
  height: 30px;
}

.home .title-line-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 120px;
  left: 404px;
}

.home .element-company-overview {
  position: absolute;
  width: 1110px;
  height: 247px;
  top: 1744px;
  left: 405px;
}

.home .company-overview {
  display: flex;
  width: 1110px;
  align-items: flex-start;
  gap: 98px;
  position: absolute;
  top: 121px;
  left: 0;
}

.home .div-8 {
  position: relative;
  width: 206px;
  height: 126px;
}

.home .text-wrapper-11 {
  position: absolute;
  height: 75px;
  top: 51px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: var(--primary);
  font-size: 75px;
  letter-spacing: -1.88px;
  line-height: 75px;
  white-space: nowrap;
}

.home .title-5 {
  position: absolute;
  width: 200px;
  top: 0;
  left: 2px;
  font-family: var(--headline-7-semibold-font-family);
  font-weight: var(--headline-7-semibold-font-weight);
  color: var(--grey);
  font-size: var(--headline-7-semibold-font-size);
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  line-height: var(--headline-7-semibold-line-height);
  font-style: var(--headline-7-semibold-font-style);
}

.home .element-satisfied {
  position: relative;
  width: 207px;
  height: 126px;
}

.home .title-6 {
  position: absolute;
  width: 200px;
  top: 0;
  left: 3px;
  font-family: var(--headline-7-semibold-font-family);
  font-weight: var(--headline-7-semibold-font-weight);
  color: var(--grey);
  font-size: var(--headline-7-semibold-font-size);
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  line-height: var(--headline-7-semibold-line-height);
  font-style: var(--headline-7-semibold-font-style);
}

.home .element-project-executed {
  position: relative;
  width: 212px;
  height: 126px;
  margin-right: -3.00px;
}

.home .title-7 {
  position: absolute;
  width: 200px;
  top: 0;
  left: 6px;
  font-family: var(--headline-7-semibold-font-family);
  font-weight: var(--headline-7-semibold-font-weight);
  color: var(--grey);
  font-size: var(--headline-7-semibold-font-size);
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  line-height: var(--headline-7-semibold-line-height);
  font-style: var(--headline-7-semibold-font-style);
}

.home .element-why-choose-us {
  position: absolute;
  width: 1920px;
  height: 562px;
  top: 2111px;
  left: 0;
}

.home .element-access-control {
  position: absolute;
  width: 542px;
  height: 124px;
  top: 430px;
  left: 974px;
}

.home .description-6 {
  position: absolute;
  width: 540px;
  top: 40px;
  left: 0;
  font-family: var(--paragraph-2-regular-font-family);
  font-weight: var(--paragraph-2-regular-font-weight);
  color: var(--grey);
  font-size: var(--paragraph-2-regular-font-size);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  font-style: var(--paragraph-2-regular-font-style);
}

.home .title-icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.home .img-6 {
  position: relative;
  width: 24px;
  height: 24px;
}

.home .description-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--headline-5-bold-font-family);
  font-weight: var(--headline-5-bold-font-weight);
  color: var(--black);
  font-size: var(--headline-5-bold-font-size);
  letter-spacing: var(--headline-5-bold-letter-spacing);
  line-height: var(--headline-5-bold-line-height);
  white-space: nowrap;
  font-style: var(--headline-5-bold-font-style);
}

.home .element-embed-analytics {
  position: absolute;
  width: 542px;
  height: 124px;
  top: 276px;
  left: 974px;
}

.home .element-machine-learning {
  position: absolute;
  width: 542px;
  height: 124px;
  top: 122px;
  left: 974px;
}

.home .img-7 {
  position: absolute;
  width: 929px;
  height: 530px;
  top: 16px;
  left: 0;
}

.home .title-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  top: 1px;
  left: 974px;
}

.home .element-features-section {
  position: absolute;
  width: 1920px;
  height: 1136px;
  top: 488px;
  left: 0;
  background-color: var(--background);
}

.home .element-block {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
  padding: 0px 0px 15px;
  position: absolute;
  top: 628px;
  left: 405px;
}

.home .element-img {
  position: relative;
  width: 540px;
  height: 358px;
}

.home .title-description-3 {
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.home .text-wrapper-12 {
  position: relative;
  width: 540px;
  margin-top: -1.00px;
  font-family: var(--headline-2-extrabold-font-family);
  font-weight: var(--headline-2-extrabold-font-weight);
  color: var(--black);
  font-size: var(--headline-2-extrabold-font-size);
  letter-spacing: var(--headline-2-extrabold-letter-spacing);
  line-height: var(--headline-2-extrabold-line-height);
  font-style: var(--headline-2-extrabold-font-style);
}

.home .description-8 {
  position: relative;
  width: 540px;
  font-family: var(--paragraph-1-regular-font-family);
  font-weight: var(--paragraph-1-regular-font-weight);
  color: var(--grey);
  font-size: var(--paragraph-1-regular-font-size);
  letter-spacing: var(--paragraph-1-regular-letter-spacing);
  line-height: var(--paragraph-1-regular-line-height);
  font-style: var(--paragraph-1-regular-font-style);
}

.home .button-4 {
  all: unset;
  box-sizing: border-box;
  width: 190px;
  height: 54px;
  gap: 12px;
  padding: 11px 46px;
  position: relative;
  background-color: var(--primary);
  box-shadow: var(--shadow-button);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.home .watch-the-demo-2 {
  position: relative;
  width: fit-content;
  font-family: var(--headline-6-bold-font-family);
  font-weight: var(--headline-6-bold-font-weight);
  color: #ffffff;
  font-size: var(--headline-6-bold-font-size);
  letter-spacing: var(--headline-6-bold-letter-spacing);
  line-height: var(--headline-6-bold-line-height);
  white-space: nowrap;
  font-style: var(--headline-6-bold-font-style);
}

.home .element-block-2 {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
  padding: 0px 0px 15px;
  position: absolute;
  top: 120px;
  left: 405px;
}

.home .element-hero-image {
  position: absolute;
  width: 1920px;
  height: 488px;
  top: 0;
  left: 0;
  background-color: var(--secondary);
}

.home .description-buttons {
  position: absolute;
  width: 447px;
  height: 176px;
  top: 232px;
  left: 1070px;
}

.home .buttons {
  display: inline-flex;
  align-items: flex-start;
  gap: 28px;
  position: absolute;
  top: 122px;
  left: 0;
}

.home .button-fill {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 11px 46px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 6.95px;
}

.home .watch-the-demo-3 {
  width: fit-content;
  margin-top: -1.16px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: var(--secondary);
  font-size: 18px;
  letter-spacing: -0.45px;
  line-height: 32px;
  position: relative;
  white-space: nowrap;
}

.home .button-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 11px 26px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 6.95px;
}

.home .icon-play-circle {
  position: relative;
  width: 32px;
  height: 32px;
}

.home .text-wrapper-13 {
  width: fit-content;
  margin-top: -1.16px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.45px;
  line-height: 32px;
  position: relative;
  white-space: nowrap;
}

.home .description-9 {
  position: absolute;
  width: 445px;
  height: 84px;
  top: 0;
  left: 0;
  font-family: var(--paragraph-2-regular-font-family);
  font-weight: var(--paragraph-2-regular-font-weight);
  color: var(--background);
  font-size: var(--paragraph-2-regular-font-size);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  font-style: var(--paragraph-2-regular-font-style);
}

.home .title-9 {
  position: absolute;
  width: 540px;
  height: 120px;
  top: 225px;
  left: 405px;
  font-family: var(--headline-1-extrabold-font-family);
  font-weight: var(--headline-1-extrabold-font-weight);
  color: #ffffff;
  font-size: var(--headline-1-extrabold-font-size);
  letter-spacing: var(--headline-1-extrabold-letter-spacing);
  line-height: var(--headline-1-extrabold-line-height);
  font-style: var(--headline-1-extrabold-font-style);
}

.home .header-desktop {
  position: absolute;
  width: 1920px;
  height: 126px;
  top: 0;
  left: 0;
  background-color: var(--secondary);
}

.home .line-3 {
  position: absolute;
  width: 1920px;
  height: 1px;
  top: 125px;
  left: 0;
  object-fit: cover;
}

.home .content {
  position: absolute;
  width: 1110px;
  height: 46px;
  top: 40px;
  left: 405px;
}

.home .logo-white {
  position: absolute;
  width: 141px;
  height: 46px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home .menu {
  position: absolute;
  width: 511px;
  height: 24px;
  top: 11px;
  left: 286px;
}

.home .div-9 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.home .solutions {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 79px;
}

.home .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--headline-7-medium-font-family);
  font-weight: var(--headline-7-medium-font-weight);
  color: #ffffff;
  font-size: var(--headline-7-medium-font-size);
  letter-spacing: var(--headline-7-medium-letter-spacing);
  line-height: var(--headline-7-medium-line-height);
  white-space: nowrap;
  font-style: var(--headline-7-medium-font-style);
}

.home .pages {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  position: absolute;
  top: 0;
  left: 181px;
}

.home .icon-chevron-down {
  position: relative;
  width: 16px;
  height: 16px;
}

.home .elements {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 280px;
}

.home .blog {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 381px;
}

.home .contacts-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 450px;
}

.home .button-5 {
  all: unset;
  box-sizing: border-box;
  width: 168px;
  height: 44px;
  gap: 10px;
  padding: 10px 14px;
  position: absolute;
  top: 1px;
  left: 942px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.home .icon-play-circle-2 {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: -1.00px;
}

.home .text-wrapper-15 {
  width: fit-content;
  margin-top: -1.00px;
  margin-right: -1.00px;
  font-family: var(--headline-7-semibold-font-family);
  font-weight: var(--headline-7-semibold-font-weight);
  color: var(--secondary);
  font-size: var(--headline-7-semibold-font-size);
  letter-spacing: var(--headline-7-semibold-letter-spacing);
  line-height: var(--headline-7-semibold-line-height);
  position: relative;
  white-space: nowrap;
  font-style: var(--headline-7-semibold-font-style);
}
