:root {
  --primary: rgba(24, 92, 255, 1);
  --secondary: rgba(0, 43, 78, 1);
  --helper-blue1: rgba(25, 64, 96, 1);
  --helper-blue2: rgba(96, 125, 148, 1);
  --helper-blue3: rgba(201, 220, 236, 1);
  --tertiary: rgba(240, 249, 255, 1);
  --black: rgba(41, 45, 51, 1);
  --grey: rgba(148, 151, 161, 1);
  --background: rgba(241, 246, 250, 1);
  --error: rgba(193, 64, 64, 1);
  --headline-1-extrabold-font-family: "Manrope", Helvetica;
  --headline-1-extrabold-font-weight: 800;
  --headline-1-extrabold-font-size: 46px;
  --headline-1-extrabold-letter-spacing: -0.69px;
  --headline-1-extrabold-line-height: 60px;
  --headline-1-extrabold-font-style: normal;
  --headline-2-extrabold-font-family: "Manrope", Helvetica;
  --headline-2-extrabold-font-weight: 800;
  --headline-2-extrabold-font-size: 38px;
  --headline-2-extrabold-letter-spacing: -0.57px;
  --headline-2-extrabold-line-height: 56px;
  --headline-2-extrabold-font-style: normal;
  --headline-3-extrabold-font-family: "Manrope", Helvetica;
  --headline-3-extrabold-font-weight: 800;
  --headline-3-extrabold-font-size: 30px;
  --headline-3-extrabold-letter-spacing: -0.45px;
  --headline-3-extrabold-line-height: 40px;
  --headline-3-extrabold-font-style: normal;
  --headline-4-bold-font-family: "Manrope", Helvetica;
  --headline-4-bold-font-weight: 700;
  --headline-4-bold-font-size: 22px;
  --headline-4-bold-letter-spacing: -0.33px;
  --headline-4-bold-line-height: 33px;
  --headline-4-bold-font-style: normal;
  --headline-5-bold-font-family: "Manrope", Helvetica;
  --headline-5-bold-font-weight: 700;
  --headline-5-bold-font-size: 20px;
  --headline-5-bold-letter-spacing: -0.3px;
  --headline-5-bold-line-height: 30px;
  --headline-5-bold-font-style: normal;
  --headline-6-bold-font-family: "Manrope", Helvetica;
  --headline-6-bold-font-weight: 700;
  --headline-6-bold-font-size: 16px;
  --headline-6-bold-letter-spacing: -0.24px;
  --headline-6-bold-line-height: 24px;
  --headline-6-bold-font-style: normal;
  --headline-7-semibold-font-family: "Manrope", Helvetica;
  --headline-7-semibold-font-weight: 600;
  --headline-7-semibold-font-size: 14px;
  --headline-7-semibold-letter-spacing: -0.14px;
  --headline-7-semibold-line-height: 24px;
  --headline-7-semibold-font-style: normal;
  --headline-7-medium-font-family: "Manrope", Helvetica;
  --headline-7-medium-font-weight: 500;
  --headline-7-medium-font-size: 14px;
  --headline-7-medium-letter-spacing: -0.14px;
  --headline-7-medium-line-height: 24px;
  --headline-7-medium-font-style: normal;
  --paragraph-1-regular-font-family: "Open Sans", Helvetica;
  --paragraph-1-regular-font-weight: 400;
  --paragraph-1-regular-font-size: 20px;
  --paragraph-1-regular-letter-spacing: -0.3px;
  --paragraph-1-regular-line-height: 33px;
  --paragraph-1-regular-font-style: normal;
  --paragraph-2-regular-font-family: "Open Sans", Helvetica;
  --paragraph-2-regular-font-weight: 400;
  --paragraph-2-regular-font-size: 16px;
  --paragraph-2-regular-letter-spacing: -0.24px;
  --paragraph-2-regular-line-height: 28px;
  --paragraph-2-regular-font-style: normal;
  --paragraph-2-bold-font-family: "Open Sans", Helvetica;
  --paragraph-2-bold-font-weight: 700;
  --paragraph-2-bold-font-size: 16px;
  --paragraph-2-bold-letter-spacing: -0.24px;
  --paragraph-2-bold-line-height: 28px;
  --paragraph-2-bold-font-style: normal;
  --paragraph-3-regular-font-family: "Open Sans", Helvetica;
  --paragraph-3-regular-font-weight: 400;
  --paragraph-3-regular-font-size: 14px;
  --paragraph-3-regular-letter-spacing: -0.21px;
  --paragraph-3-regular-line-height: 24px;
  --paragraph-3-regular-font-style: normal;
  --paragraph-3-semibold-font-family: "Open Sans", Helvetica;
  --paragraph-3-semibold-font-weight: 600;
  --paragraph-3-semibold-font-size: 14px;
  --paragraph-3-semibold-letter-spacing: -0.21px;
  --paragraph-3-semibold-line-height: 24px;
  --paragraph-3-semibold-font-style: normal;
  --headline-8-semibold-font-family: "Open Sans", Helvetica;
  --headline-8-semibold-font-weight: 600;
  --headline-8-semibold-font-size: 12px;
  --headline-8-semibold-letter-spacing: -0.18px;
  --headline-8-semibold-line-height: 24px;
  --headline-8-semibold-font-style: normal;
  --shadow-button: 0px 12px 30px 0px rgba(24, 92, 255, 0.18);
  --sadow-card-1: 0px 2px 20px 17px rgba(24, 92, 255, 0.04);
  --shadow-card-2: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  --shadow-card-3: 0px 4px 12px 0px rgba(12, 68, 204, 0.1);
  --shadow-dropdown: 0px 1px 2px 0px rgba(0, 43, 78, 0.3), 0px 2px 6px 0px
    rgba(0, 43, 78, 0.15);
}
